NODE_ENV=development
PLASMO_PUBLIC_SERVER_URL=http://localhost:5000
PLASMO_PUBLIC_CDN_URL=http://localhost:5000
PLASMO_PUBLIC_DEV=true 
PLASMO_PUBLIC_NODE_ENV=development

# Extension ID and Key
CRX_ID="hogonmkkloabgdbnfliciikgcknmpljj"
CRX_KEY="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnu+uKBoGA//FIUHu34j/vwjDRYMBPFKiVV+BXk3+9Czwny2nm+xYmzi+HQLjz4M8nkZetwtRdiFhsx6IKPNi1hNPLsx1UyQqxAeWkP2acEHI+TYLqIoJNvGcpXYXKsuillwaKIJnDrMHgjDqsCCBBpjcNne3//K6pksijLbQRR6MGV1SfIim//d02r0mE5IEz1J5kIxfYfhgh99AAAupXLVl9lS643zyGWzbPe92i3xOtY3wfdFHlS1Ru/1mbUHPDBs6Hc7AJeHl6dCJsZy4EW6XtClTJfwrewXFIVQ3KeckBGw2lJyg9eIE7noiwUJdFV38uT6rUaIIkJheOnIKjQIDAQAB"


# -----------------------------------------------------------------------------
# Lemon Squeezy
# -----------------------------------------------------------------------------
PLASMO_PUBLIC_LEMON_SQUEEZY_MONTHLY_VARIANT_ID="144790"
PLASMO_PUBLIC_LEMON_SQUEEZY_YEARLY_VARIANT_ID="144788"
PLASMO_PUBLIC_LEMON_SQUEEZY_LIFETIME_VARIANT_ID="144789"