# Environment variables for the API
NODE_ENV=development

# Port number
PORT=3000

# Database
# docker run --name meelio -e POSTGRES_PASSWORD=password -e POSTGRES_DB=meeliodb -d -p 5433:5432 postgres
DB_URL=postgres://postgres:password@localhost:5433/meeliodb

# Redis
# docker run --name ioredisly -d -p 6379:6379 redis:latest redis-server --requirepass "super-secret-password"
REDIS_HOST=localhost
REDIS_PORT=6379


# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Cookie configs
COOKIE_SECRET=thisisasamplesecret

# URL of client application
CLIENT_URL=http://localhost:4000

# -----------------------------------------------------------------------------
# Google Provider
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Lemon Squeezy
# -----------------------------------------------------------------------------
LEMON_SQUEEZY_SIGNING_SECRET=AH2QVwp28iLhp0K3xyD1YZbTgNOlgwhM
LEMON_SQUEEZY_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NGQ1OWNlZi1kYmI4LTRlYTUtYjE3OC1kMjU0MGZjZDY5MTkiLCJqdGkiOiJiZmJiZWU2MDIxNmUzMDk2Yzk5NDQ5Zjc0ZmIyMWI0NzcyN2ZiYzkzNDMyZDUxMGIzZGU4MGRmNWNlMjhkMTIwMGU1NjkxZGNlMjYyYjc5YyIsImlhdCI6MTc0MTA3NDU3Ni4yNDA3MDYsIm5iZiI6MTc0MTA3NDU3Ni4yNDA3MDgsImV4cCI6MjA1NjYwNzM3Ni4xODk3NzksInN1YiI6IjE0MjQ0NjciLCJzY29wZXMiOltdfQ.anED3pG8PLNf3VZ8uCJc8GeODmQy6bL-qGKTxJmhFFeLXoC7cOaN0Vebgj1dm7u5sFLV7Fr_QxDMlTLm8BNEQMlrO7d0y3u70uPDelH40Rwm7GNIPTI0yPeehxbiSbqExjd7JUJuXefhZwRP4WxZsEFqnsg-o0xE9zIp3rIYF7Mc6hr0dLfqMb-jBhM1JyhEgXfiUMreP9AsrWEPmcoxKFsLZVSzfqpdeS_575W8soL3Yq7z4N1C7Qx-0mSGFK5POXEPbF-JVbXDrS5dqBwVhk_iPgWoKMAZzME2Mci7R4FJAIbXFXPwY4i2p42U33Q16B8fyIhYfSu_IBL8IMNOF50KJufOa4CgAhdkQ6tVsQQILTeFU3UyPPYi_fka4qJ2WQ2FHYiAJud54ihaybIV-6USOzUN2EC3rxutcIFjZf2716uQFEuLeIV2K4rHwAnMQ9r9Dr7f-klK5mjQKywmzZP6mccqCxJf2cjS0XBQ6qvQLm24Ft85c-730e7ygQte
LEMON_SQUEEZY_STORE_ID=48660


# -----------------------------------------------------------------------------
# Weather API
# -----------------------------------------------------------------------------
ACCUWEATHER_API_KEY=accu-weather-key-goes-here